extends layout

block content
  div // name block
    p character.name
    p character.title
    p character.age age
  div // stats block
    tr
      th Stat
      th Value
      th Mod
    tr
        // each stat
  div // skills block
    tr
      th Skill
      th Stat
      th Rank
      th Total
    tr
        // each skill
  div // misc (rank, cr, licenses) block
    p Rank
    p CR
    p Licenses
  div // history block
