extends layout

block content
  .navMenu
    a(href='/character/new/'+userId)
      button.rightNavButton Create Character
  .multilist
    ul.listgroup

  script.
    $(document).ready( function() {
        // add each saved character to multilist here
    });
    